body {
    background: #101010;
    color: #FFF
}

a {
    color: #FFF;
}

img {
    margin-top: 50px;
    max-height: 300px;
}

.btn-large, 
.btn-small {
    background: #e0550e !important;
}

.btn-small.no {
    background: #ccc !important;
}